<p>Codice Transizione:  {{ parameter.codTrans }}</p>
<p>Importo: {{ parameter.importo }}</p>
<p>Divisa: {{ parameter.divisa }}</p>
<p>Esito: {{ parameter.esito }}</p>
<p>Codice Esito: {{ parameter.codiceEsito }}</p>
<p>Codice codTrans: {{ parameter.codTrans }}</p>
<p>Codice Convenzione: {{ parameter.codiceConvenzione }}</p>
<p>Messaggio: {{ parameter.messaggio }}</p>
<p>Mail: {{ parameter.mail }}</p>
<p>Data: {{ parameter.data }} {{ parameter.orario }}</p>
<p>Cognome: {{ parameter.cognome }}</p>
<p>Nome: {{ parameter.nome }}</p>
<p>Nazionalità: {{ parameter.nazionalita }}</p>
<p>Codice Autorizzazione: {{ parameter.codAut }}</p>
<p>Tipo Carta: {{ parameter.tipoProdotto }}</p>
<p>PAN: {{ parameter.pan }}</p>
<p>Scadenza PAN: {{ parameter.scadenza_pan }}</p>
<p>BRAND: {{ parameter.brand }}</p>
<p>Session: {{ parameter.session_id }}</p>
<p>Descrizione: {{ parameter.descrizione }}</p>
<p>Check: {{ parameter.check }}</p>
<p>Tipo Transazione: {{ parameter.tipoTransazione }}</p>